@import "../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../node_modules/material-ui/src/less/components.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Play', sans-serif;
}