
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: #f6f6f6;
}
nav {
  background: #3B3A3A;
  border-bottom: 1px solid #000;

  h1 {
    display: inline-block;
    font-size: 28px;
    margin: 10px 0;
    a {
      color: #fff;
      &:hover {
        color: #eee;
      }
    }
  }
  .ui.right.horizontal.list {
    float: right;
    margin: 10px 0;
  }
}
.container {
  padding: 0 15px;
}
.page-content {
  padding: 25px 15px;
}
.page-title {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 25px;
  padding: 0 0 15px;

}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #D9499A!important;
}

.jsoneditor {
  width:100%;
  height: 500px;
}